{{ template "header" }}
    
    <main class="container">
        <h1>estructuras</h1>
        <h3>Declaracion de variables</h3>
        {{ with $valor := "Mi Valor" }}
            <p>{{ $valor }}</p>
        {{ end }}
        <hr />
        <h3>Valores desde struct</h3>
        <ul>
            <li>Nombre: {{.Nombre}}</li>
            <li>Edad: {{.Edad}}</li>
            <li>Perfil: {{.Perfil}}</li>
        </ul>
        <hr />
        <h3>Condiciones</h3>
        {{ if ge .Edad 18}}
            <p>Es Mayor de edad</p>
        {{ else }}
            <p>Es Menor de edad</p>
        {{ end }}

        {{ if eq .Perfil 1 }}
            <p>Eres Admin</p>
        {{ else if ne .Perfil 1}}
            <p>Eres un simple Plebeyo</p>
        {{ end }}
        <hr />
        <h3>Iteraciones</h3>
        {{ range .Habilidades }}
            <li>{{ .Nombre }}</li>
        {{ end }}
        

        <!--     
            Operadores condicionales:
            eq igual a ==
            ne diferente a !=
            lt menor que <
            le menor o igual que <=
            gt mayor que >
            ge mayor o igual que >=
        -->
    </main>

{{ template "footer" }}