{{ template "header" }}

    <main class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/recursos-utiles">Recursos Útiles</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear PDF</li>
            </ol>
        </nav>

        <h1>Opciones de PDF</h1>
        {{ if ne .css "" }}
            <div class="alert alert-{{ .css }} alert-dismissible fade show" role="alert">
                {{ .mensaje }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{ end }}
        <a href="/recursos-utiles/pdf-generar" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Generar PDF</a>
    </main>

{{ template "footer" }}