{{ template "header" }}

    <main class="container">
        <h1>MySQL</h1>

        <div class="alert alert-{{ .Css }} alert-dismissible fade show" role="alert">
            {{ .Mensaje }}
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <p class="d-flex justify-content-end">
            <a href="/my-sql/my-sql-crear" class="btn btn-success">
                <i class="fas fa-check"></i>
                Crear
            </a>
        </p>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Datos }}
                    <tr>
                        <td>{{ .Nombre }}</td>
                        <td>{{ .Correo }}</td>
                        <td>{{ .Telefono }}</td>
                        <td>
                            <a href="/my-sql/my-sql-editar/{{.Id}}"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0);" onclick="confirmarSweet('¿Realmente desea eliminar el registro?','/my-sql/my-sql-eliminar/{{.Id}}');">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>        
    </main>

{{ template "footer" }}